<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Trenza_Slider::slider" title="Slider" sortOrder="40">
                    <resource id="Trenza_Slider::manage" title="Slider Managent" sortOrder="10" >
                        <resource id="Trenza_Slider::save" title="Save Slider" sortOrder="10" />
                        <resource id="Trenza_Slider::slider_delete" title="Delete Slider" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Trenza_Slider::config_slider" title="Slider Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
