<?xml version="1.0"?>
<!--
/**
 * Location: magento_two/app/code/Trenza/Themeoption/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="option_tab" translate="label" sortOrder="1000">
            <label>Thenza Theme Options</label>
        </tab>
        <section id="option_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Background</label>
            <tab>option_tab</tab>
            <resource>Trenza_Themeoption::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Background</label>
				<field id="background_image" translate="label" type="image" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">background</upload_dir>
                    <base_url type="media" scope_info="1">background</base_url>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                </field>
				
				<field id="background_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
					<label>Background Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
				</field>
				
                <field id="background_position" translate="label" type="radios" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Position</label>
                    <source_model>Trenza\Themeoption\Model\Config\Source\Customoption</source_model>
                </field>
				
				<field id="background_repeat" translate="label" type="radios" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blackground Repet</label>
                    <source_model>Trenza\Themeoption\Model\Config\Source\Repeatoption</source_model>
                </field>             
            </group>
        </section>
		<section id="heading_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Typography</label>
            <tab>option_tab</tab>
            <resource>Trenza_Themeoption::config</resource>
			<group id="headingp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paragraph</label>
                <field id="font_family_p" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paragraph Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_p" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paragraph Font Size</label>
                </field>
				<field id="font_color_p" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paragraph Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
			</group>
            <group id="headingh1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Heading H1</label>
                <field id="font_family_h1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H1 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H1 Font Size</label>
                </field>
				<field id="font_color_h1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H1 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
			</group>
			<group id="headingh2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Heading H2</label>
				<field id="font_family_h2" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H2 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h2" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H2 Font Size</label>
                </field>
				<field id="font_color_h2" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H2 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
            </group>
			<group id="headingh3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Heading H3</label>
				<field id="font_family_h3" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H3 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h3" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H3 Font Size</label>
                </field>
				<field id="font_color_h3" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H3 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
            </group>
			<group id="headingh4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Heading H4</label>
				<field id="font_family_h4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H4 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H4 Font Size</label>
                </field>
				<field id="font_color_h4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H4 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
            </group>
			<group id="headingh5" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Heading H5</label>
				<field id="font_family_h5" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H5 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h5" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H5 Font Size</label>
                </field>
				<field id="font_color_h5" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H5 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
            </group>
			<group id="headingh6" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Heading H6</label>
				<field id="font_family_h6" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H6 Font Family</label>
					<frontend_model>Trenza\Themeoption\Block\Font</frontend_model>
                </field>
				<field id="font_size_h6" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H6 Font Size</label>
                </field>
				<field id="font_color_h6" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading H6 Font Color</label>
					<frontend_model>Trenza\Themeoption\Block\Color</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>